label {
  font-size: 12px;
  margin-top: 30px;
}

.formContainer {
  margin-top: 20px;
  display: inline-flex;
}

.gsaFormSubmitBtn {
  margin-left: 150px;
  margin-top: 30px;
  background: indigo;
  color: white;
}
